/* Primary text color #8F95A5 */
/* Secondary text color #263238 */
/* About numbers color #2A3246 */
/* Section titles text color #000000 */
/* Pricing "per month" color #546269 */
/* Background color #FFFFFF */
/* Background cards color #F5F5F5 */
/* Logo secondary color #939393 */
:root {
    --text-primary: #8F95A5;
    --text-secondary: #263238;
    --logo-secondary: #939393;
    --about-numbers: #2A3246;
    --per-month: #546269;
    --section-title: #000000;
    --background: #FFFFFF;
    --backdround-cards: #F5F5F5;
    scroll-behavior: smooth;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--text-primary);
    background-color: var(--background);
    font-family: Poppins, "Helvetica Neue", "Segoe UI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    font-style: normal;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.section-title {
    font-weight: 600;
    font-size: 48px;
    line-height: calc(72 / 48);
    color: var(--section-title);
}

.container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 31px;
    padding-left: 31px;
}

.section {
    padding-top: 90px;
    padding-bottom: 90px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* ------------Header------------ */

.header .container {
    display: flex;
}

.header-nav {
    display: flex;
}

.logo {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 236px;
    font-size: 36px;
    line-height: calc(54 / 36);
    display: flex;
    align-items: center;
    color: var(--logo-secondary);
}

.brit {
    color: var(--section-title);
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-nav-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-secondary);
}

.header-button {
    margin-left: auto;
    width: 312px;
    height: 70px;
    border: 2px solid var(--text-secondary);
    border-radius: 10px;
    font-family: inherit;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--section-title);
    background-color: var(--background);
}

/* ------------Hero------------ */

.hero-section {
    padding-top: 55px;
}

.hero-container {
    display: flex;
    gap: 144px;
    align-items: flex-start;
}

.hero-title {
    width: 386px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 64px;
    line-height: calc(80 / 64);
    color: var(--section-title);
}

.hero-text {
    margin-bottom: 60px;
    font-size: 24px;
    line-height: calc(36 / 24);
}

.hero-button {
    width: 426px;
    height: 100px;
    font-size: 36px;
    line-height: calc(54 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--background);
    background: var(--text-secondary);
    border: 0 solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.hero-img {}

/* ------------Skills------------ */

#skills h2 {
    margin-bottom: 60px;
    text-align: center;
}

.skills-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "first second third"
        "first fourth fourth";
}

.skills-list-item {
    padding: 32px 18px;
    background-color: var(--backdround-cards);
    border-radius: 10px;
}

.skills-list-item:nth-of-type(1) {
    grid-area: first;
}

.skills-list-item:nth-of-type(2) {
    grid-area: second;
}

.skills-list-item:nth-of-type(3) {
    grid-area: third;
}

.skills-list-item:nth-of-type(4) {
    grid-area: fourth;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;

}

/* .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-end;
} */

/* .skills-list-item:not(:last-child) {
    flex-basis: calc((100% - 60px) / 3);
}

.skills-list-item:first-child {
    align-self: stretch;
}

.skills-list-item:last-child {
    align-self: stretch;
    display: flex;
    flex-direction: row-reverse;
} */


.skills-text {}

.skills-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: calc(45 / 30);
    color: var(--text-secondary);
}

.skills-paragraph {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: calc(24 / 16);
}

.skills-link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(27 / 18);
    color: var(--background);
    background: var(--text-secondary);
    border: 0 solid transparent;
    border-radius: 10px;
}

/* ------------About Us------------ */

#about .container {
    display: flex;
    gap: 146px;
}

#about .section-title {
    margin-bottom: 60px;
}

.about-paragraph {
    font-size: 20px;
    line-height: calc(36 / 20);
    margin-bottom: 30px;
}

.about-stats-list {
    margin-left: 49px;
    display: flex;
    gap: 131px;
    width: 555px;
}

.about-stats-item {
    max-width: 108px;
}

.about-stats-number {
    margin-bottom: 6px;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: calc(72 / 48);
    color: var(--about-numbers);
}

.about-stat {
    text-align: center;
    font-size: 20px;
    line-height: calc(30 / 20);
}

/* ------------Pricing------------ */

.section-title {}

.pricing-list {}

.prising-item {}

.pricing-img {}

.pricing-item-title {}

.pricing-item-paragraph {}

.pricing-price {}

.pricing-period {}